body {
	font-family: sans-serif;
	max-width: 1000px;
	margin: 0 auto;
}

main {
	max-width: 600px;
	text-align: justify;
	margin: 0 auto;
}

img { max-width: 100%; }

figcaption { text-align: center; }

nav {
	background: white;
	top: 0;
	display: block;
	position: sticky;
	float: left;
	width: 10%;
	font-size: small;
}

nav li { margin-left: -10pt; }

nav li li { margin-left: -25pt; }

div.exemple {
	border: dashed grey 3px;
	padding: 10px;
	background: #FFFFED;
}

.math { font-style: italic; } 
